@font-face {
	font-family: 'Geometria';
	src: url('Geometria-Medium.eot');
	src: local('Geometria Medium'), local('Geometria-Medium'),
		url('Geometria-Medium.woff') format('woff'),
		url('Geometria-Medium.ttf') format('ttf'),
		url('Geometria-Medium.eot?#iefix') format('embedded-opentype');
	font-style: normal;
	font-weight: 500;
}
/* .medium {
	font-family: 'Geometria Medium';
} */
@font-face {
	font-family: 'Geometria';
	src: url('Geometria-Bold.eot');
	src: local('Geometria Bold'), local('Geometria-Bold'),
		url('Geometria-Bold.woff') format('woff'),
		url('Geometria-Bold.ttf') format('ttf'),
		url('Geometria-Bold.eot?#iefix') format('embedded-opentype');
	font-style: normal;
	font-weight: bold;
}
/* .bold {
	font-family: 'Geometria Medium';
} */
