body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'Geometria', sans-serif;
  margin: 0 auto;
  background: black;
  display: block;
  position: relative;
}
.main {
  width: 1440px;
  background: white;
  margin: 0 auto;
  display: block;
  position: relative;
}
span.bold {
  font-weight: bold;
  font-size: 25px;
  line-height: 100%;
}
span.underline {
  position: relative;
}
span.underline::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 3.5px;
  right: 0;
  width: 409px;
  height: 5.5px;
  background-color: black;
}
section {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
}
section:nth-of-type(1) div {
  height: 164px;
  margin-top: 40px;
}
section:nth-of-type(1) div:nth-of-type(2) h3 {
  margin-left: 10px;
}
section:nth-of-type(1) p {
  margin-top: 5px;
}
section:nth-of-type(2) h1 {
 margin-top: 291px;
}
section:nth-of-type(2) img {
  position: absolute;
  top: 43px;
  left: 778px;
  width: 318.6px;
  transform: rotate(30.21deg);
}
section:nth-of-type(2) p {
  top: 268px;
  left: 1040px;
  position: absolute;
}
section:nth-of-type(3) div {
  margin-top: 100px;
}
section:nth-of-type(3) div:nth-of-type(1),
section:nth-of-type(4) div:nth-of-type(1) {
  width: 280px;
  margin-right: 15px;
}
section:nth-of-type(3) div:nth-of-type(2) {
  margin-right: 10px;
  margin-top: 122px;
}
section:nth-of-type(4) div:nth-of-type(2) {
  margin-right: 10px;
  margin-top: 20px;
  transform: rotate(180deg);
}
section:nth-of-type(3) div:nth-of-type(3) {
  margin-top: 106px;
}
section:nth-of-type(4) div:nth-of-type(3) {
  margin-top: 17px;
}
section:nth-of-type(4) div:nth-of-type(4) h2{
  position: absolute;
  margin-left: -35px;
  margin-top: 200px;
}
section:nth-of-type(4) div:nth-of-type(4) img{
  position: absolute;
  margin-left: -75px;
  margin-top: 220px;
}
section:nth-of-type(4) div:nth-of-type(4) p{
  position: absolute;
  margin-left: -35px;
  margin-top: 421px;
}
section:nth-of-type(5) img:nth-of-type(1) {
  margin-top: 225px;
}
section:nth-of-type(5) img:nth-of-type(2) {
  position: absolute;
  top: 580px;
  left: 660px;
  width: 509px;
  transform: rotate(18.98deg);
}
section:nth-of-type(5) img:nth-of-type(3) {
  left: 477px;
}
section:nth-of-type(5) img:nth-of-type(4) {
  left: 509px;
}
section:nth-of-type(5) p:nth-of-type(1) {
  top: 758px;
  left: 895px;
  position: absolute;
}
section:nth-of-type(5) p:nth-of-type(2) {
  left: 125px;
}
section:nth-of-type(5) p:nth-of-type(3) {
  left: 540px;
}
section:nth-of-type(5) p:nth-of-type(4) {
  left: 1120px;
}
section:nth-of-type(11) p,
section:nth-of-type(11) h3 {
  color: white;
}
section:nth-of-type(11) div {
  margin-top: 135px;
}
section:nth-of-type(11) h3,
section:nth-of-type(11) div:nth-of-type(2) p {
  margin-left: 10px;
}
section:nth-of-type(11) div:nth-of-type(2) p {
  margin-top: 65px;
}
.authors_font {
  font-weight: 580;
  font-size: 10px;
  line-height: 115%;
}
.img_1 {
  margin-top: 5px;
  width: 92px;
  height: auto;
}
h3 {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
}
h1 {
  font-weight: bold;
  font-size: 216px;
  line-height: 88%;
}
h2 {
  font-weight: 500;
  font-size: 160px;
  line-height: 95%;
  text-align: right;
}
p {
  font-weight: 500;
  font-size: 20px;
  line-height: 134.5%;
}
h3 + p {
  margin-top: 90px;
}
.height_1 {
  height: 1125px;
}
.height_2 {
  height: 900px;
}
.img_big {
  width: 1440px;
  height: auto;
  position: absolute;
  left: -50px;
}
.section_6-10 {
  width: 100%;
  height: 900px;
  left: -50px;
}
.section_11 {
  width: 100%;
  height: 406px;
  left: -50px;
}
.rectangle_small {
  position: absolute;
  margin-top: 262px;
  margin-left: 370px;
  width: 465px;
  height: 235px;
  background: black;
  display: inline-block;
}
.text_centre{
  padding: 40px;
  color: white;
  text-align: left;
}
.p_top {
    position: absolute;
    top: 960px;
}
.img_top {
  position: absolute;
  top: 780px;
  transform: rotate(25.49deg);
}
.black {
  background-color: black;
  background-size: auto;
}
